<% include ../partials/header %>

<form method='POST' action='/auth/login'>
  <input name='username' type='text' placeholder='username' required />
  <input name='password' type='password' placeholder='password' required />
  <button type='submit'>submit</button>
</form>

<% include ../partials/footer %>