<% include ../partials/header %>

<form method='POST' action='/auth/register'>
  <input name='firstname' type='text' placeholder='firstname' required />
  <input name='lastname' type='text' placeholder='lastname' required />
  <input name='email' type='email' placeholder='email' required />
  <input name='username' type='text' placeholder='username' required />
  <input name='password' type='password' placeholder='password' required />
  <button type='submit'>Submit</button>
</form>

<% include ../partials/footer %>