<header>
  <nav>
    <a href='/'>Home</a>
    <% if(user) { %>
      <a href='/profile'>Profile</a>
      <a href='/auth/logout'>Logout</a>
    <% } else { %>
      <a href='/auth/register'>Register</a>
      <a href='/auth/login'>Login</a>
    <% } %>
  </nav>
</header>