<% include ./partials/header %>

<h1><%= pageTitle %></h1>
<button id='generate_fact'>Click me for a fact</button>

<section>
  <p></p>
</section>

<% if(user) { %>
  <button id='save_fact'>save fact</button>
<% } %>

<script src='/js/jquery.js'></script>
<script src='/js/main.js'></script>

<% include ./partials/footer %>