<% include ./partials/header %>

<h1><%= pageTitle %></h1>

<section id='fact_types'>
  <input type='radio' name='fact_type' value='random' id='random'><label for='random'>random</label>
  <input type='radio' name='fact_type' value='general' id='general'><label for='general'>general</label>
  <input type='radio' name='fact_type' value='nerdy' id='nerdy'><label for='nerdy'>nerdy</label>
  <input type='radio' name='fact_type' value='explicit' id='explicit'><label for='explicit'>explicit</label>
  <span></span>
</section>

<section id='fact'>
  <p></p>
  <% if(user) { %>
    <span></span>
  <% } %>
</section>

<script src='/js/jquery.js'></script>
<script src='/js/main.js'></script>

<% include ./partials/footer %>