<% include ./partials/header %>

<h1><%= pageTitle %></h1>

<section id='fact_types'>
  <label><input type='radio' name='fact_type' value='random'>random</label>
  <label><input type='radio' name='fact_type' value='general'>general</label>
  <label><input type='radio' name='fact_type' value='nerdy'>nerdy</label>
  <label><input type='radio' name='fact_type' value='explicit'>explicit</label>
  <span></span>
</section>

<section id='fact'>
  <p></p>
  <% if(user) { %>
    <span></span>
  <% } %>
</section>

<script src='/js/jquery.js'></script>
<script src='/js/main.js'></script>

<% include ./partials/footer %>