<% include ./partials/header %>

<h1><%= user_name %>'s Favorite Chuck Norris Facts</h1>

<section>
  <% for(fact of facts) { %>
    <article class='fact'>
      <p><%= fact.fact_value %></p>
      <form method='POST' action='/<%= fact.id %>?_method=DELETE'>
        <button type='submit'>delete</button>
      </form>
    </article>
  <% } %>
</section>

<% include ./partials/footer %>