<% include ./partials/header %>

<h1><%= user_name %>'s Favorite Chuck Norris Facts</h1>

<% for(fact of facts) { %>
  <p><%= fact.fact_value %></p>
  <form method='POST' action='/<%= fact.id %>?_method=DELETE'>
    <button type='submit'>Delete</button>
  </form>
<% } %>

<% include ./partials/footer %>